<!DOCTYPE html>
<html>
<head>
    <title>Create new user</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
</head>
<body>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Login</a>
      </div>
    </nav>
    <form method="post" action="/post_user">
      <label>First name:</label>
      <input id="fname" name="fname" type="text"/> <br>
      <label>Last Name:</label>
      <input id="lname" name="lname" type="text"/> <br>
      <label>Email:</label>
      <input id="email" name="email" type="text"/> <br>
      <label>Address:</label>
      <input id="address" name="address" type="text"/> <br>
      <label>Phone:</label>
      <input id="phone" name="phone" type="text"/> <br>
      <label>SSN:</label>
      <input id="ssn" name="ssn" type="text"/> <br>
      <label>Password:</label>
      <input id="password" name="password" type="text"  /> <br>
      <input type="submit"/>
  </form>


</body>
</html>
