<!DOCTYPE html>
<html>
<head>
    <title>This is the portfolio page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
</head>
<body>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Logout</a>
        <a class="navbar-brand" href="/profile">Profile</a>
        <a class="navbar-brand" href="/">Portfolio</a>
      </div>
    </nav>


<h1>Welcome to your stock portfolio, {{user.fname}} {{user.lname}}</h1>


<form name="portfolio" method="post" action='/portfolio/<userid>/<portfolioid>'>
  <select id="portfolio" name="option" width="300px">
    <option selected value>  </option>
    {% for portfolio in portfolios %}
      <option value="{{ portfolio }}">{{ portfolio }}</option>
    {% endfor %}
  </select>
  <input type="submit"/>
</form>
{% for transaction in transactions%}
  <li> {{transaction.ticker}} {{transaction.shares}} {{transaction.open_position_price}}  </li>
{% endfor %}


<form method="post" action="/post_stock">
    <label>Ticker:</label>
    <select id="ticker" name="option" width="300px">
      <option disabled selected value>  </option>
      {% for ticker in tickers %}
        <option value="{{ ticker }}">{{ ticker.ticker }}</option>
      {% endfor %}
    </select>
    <label>Shares:</label>
    <input id="shares" name="shares" type="int"/>
    <label>Current price:</label>
    <input id="current_price" name="current_price" type="float"/> <br>
    <input type="radio" name="order" value="buy"> Buy<br>
    <input type="radio" name="order" value="sell"> Sell<br>
    <input type="submit"/>
</form>

<form method="post" action="/post_cash">
    <label>Account:</label>
    <select id="account" name="option" width="300px">
      <option disabled selected value>  </option>
      {% for account in accounts %}
        <option value="{{ account }}">{{ account }}</option>
      {% endfor %}
    </select>
    <label>Amount:</label>
    <input id="amount" name="amount" type="float"/> <br>
    <input id="order" type="radio" name="order" value="In"> In<br>
    <input id="order" type="radio" name="order" value="Out"> Out<br>
    <input type="submit"/>
</form>

</body>
</html>
